data/
env/
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./.git/objects/f3/d000df35436a60b4ae4bda49cdbcd1c0890048
./doc/books/Introductory Digital Image Processing_ A Remote Sensing Perspective.pdf
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./.git/objects/f3/d000df35436a60b4ae4bda49cdbcd1c0890048
./doc/books/Introductory Digital Image Processing_ A Remote Sensing Perspective.pdf
./data/val.zip
./data/test.zip
./data/train.zip
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./.git/objects/f3/d000df35436a60b4ae4bda49cdbcd1c0890048
./doc/books/Introductory Digital Image Processing_ A Remote Sensing Perspective.pdf
./data/val.zip
./data/test.zip
./data/train.zip
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./data/val.zip
./data/test.zip
./data/train.zip
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./data/val.zip
./data/test.zip
./data/train.zip
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./data/val.zip
./data/test.zip
./data/train.zip
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
./logs./data/val.zip
./data/test.zip
./data/train.zip
./.git/objects/pack/tmp_pack_nQ13CV
./.git/objects/1b/936379bf17220df55c73f91d99d2d0a0afec7d
